<!-- create-entreprise.component.html -->
<div class="col-md-6 offset-md-3">
  <h3>Create Entreprise</h3>
  <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label>Nom de l'entreprise</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        [(ngModel)]="entreprise.nom"
        name="nom"
        required
      />
      <div *ngIf="nomInvalid" class="text-danger">
        Le nom de l'entreprise est requis et doit être une chaîne de caractères valide.
      </div>
    </div>

    <div class="form-group">
      <label>Adresse</label>
      <input
        type="text"
        class="form-control"
        id="adresse"
        [(ngModel)]="entreprise.adresse"
        name="adresse"
        required
      />
      <div *ngIf="adresseInvalid" class="text-danger">
        L'adresse est requise et doit être une chaîne de caractères valide.
      </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
